import numpy as np
list_ = [ ‘1’ , ’2’ , ‘3’ , ‘4’ , ‘5’ ]
array_list = np.array(object = list_)
## **Q1**. Is there any difference in the data type of variables list_ and array_list? If there is then write a code
to print the data types of both the variables.

Yes, there is a difference in the data type of variables list_ and array_list. list_ is a Python list object while array_list is a numpy array object.

In [17]:
import numpy as np 
list_ = ['1','2','3','4','5'] 
array_list = np.array(object = list_)

In [18]:
type(list_)

list

In [19]:
type(array_list)

numpy.ndarray

Q2. Write a code to print the data type of each and every element of both the variables list_ and
arra_list.

In [24]:
import numpy as np 
list_ = ['1','2','3','4','5'] 
array_list = np.array(object = list_)

In [26]:
for i in list_:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [27]:
for i in array_list:
  print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

Q3. Considering the following changes in the variable, array_list:
array_list = np.array(object = list_, dtype = int)
Will there be any difference in the data type of the elements present in both the variables, list_ and
arra_list? If so then print the data types of each and every element present in both the variables, list_
and arra_list.

In [28]:
import numpy as np 
list_ = ['1','2','3','4','5']

In [36]:
array_list = np.array(object = list_ , dtype = int)

In [37]:
array_list.dtype

dtype('int64')

In [38]:
for i in array_list:
  print(type(i))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

# The data type oF the [array_list = np.array(object = list_ , dtype = int)][link text] is interger type

In [39]:
list_ = ['1','2','3','4','5']

In [40]:
for i in list_:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

# The data type of list_ in still a string only

Q4. Write a code to find the following characteristics of variable, num_array:
(i) shape
(ii) size

In [42]:
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(num_list)

**Code for the shape of the array**

In [45]:
np.shape(num_array)     # shape of the num array

(2, 3)

**Code for the size of the array**

In [46]:
np.size(num_array)

6

Q5. Write a code to create numpy array of 3*3 matrix containing zeros only, using a numpy array
creation function.

In [56]:
import numpy as np 
zeros_array = np.zeros((3,3))

In [57]:
zeros_array

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

Q6. Create an identity matrix of shape (5,5) using numpy functions?

In [51]:
import numpy as np

In [53]:
identity_matrix  = np.eye(5,5)

In [54]:
identity_matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])